<section id="dashboard-view" class="mainbar">
  <section class="matter">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
        	<form>
        		<input type="text" name="" ng-model="vm.area.id">
        		<input type="text" name="" ng-model="vm.area.code">
        		<input type="text" name="" ng-model="vm.area.name">
        		<input type="text" name="" ng-model="vm.area.registerDate">
        		<input type="text" name="" ng-model="vm.area.abbreviation">
        		<input type="text" name="" ng-model="vm.area.tests">
        		<input type="text" name="" ng-model="vm.area.type">
        		<input type="text" name="" ng-model="vm.area.idState">
        		<button class="btn btn-info" ng-click="vm.submitForm()">Submit</button>
        	</form>
        </div>
      </div>
    </div>
  </section>
</section>
